KERNEL_ARCH_CFLAGS:=
KERNEL_ARCH_CPPFLAGS:=
KERNEL_ARCH_LDFLAGS:=
KERNEL_ARCH_LIBS:=

KERNEL_ARCH_OBJS:=\
$(ARCHDIR)/Boot.o \
$(ARCHDIR)/Tty.o \
$(ARCHDIR)/Cpu.o \
$(ARCHDIR)/Arch.o \
$(ARCHDIR)/Gdt.o \
$(ARCHDIR)/Idt.o \
$(ARCHDIR)/Io.o \
$(ARCHDIR)/Pic.o \
$(ARCHDIR)/Isr.o \
$(ARCHDIR)/ExceptionHandlers.o \
$(ARCHDIR)/InterruptHandlers.o \
$(ARCHDIR)/Kbd.o